:root {
	--topbarHeight: 7%;
	font-size: 1.2vw;
	font-family: 'Source Sans Pro', sans-serif;
}

.topbar {
	overflow:hidden;
	position: fixed;
	box-sizing: border-box;	
	width: 100%;
	height: var(--topbarHeight);
	border-top: 1px solid #55575A;
	border-bottom: 1px solid #55575A;
	left: 0px;
	top: 0px;
	background-color: #0B2239;
	z-index: 2;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.topbar a {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topbar img {
	filter:invert(100%);
	height: 80%;
}

.topbar a p{
	margin: 0px;
	/* font-size: xx-large; */
	font-size: 3.5vh;
	font-weight: bold;
	color: #FFFFFF;
}


.leftbar {
	overflow: hidden;
	position: fixed;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	flex-wrap:nowrap;
	align-items:unset;
	justify-content: flex-start;

	top: var(--topbarHeight);
	left: 0px;
	width: 20%;
	height: calc(100% - var(--topbarHeight));
	border-right: 1px solid #55575A;
	background-color: #0B2239;
	z-index: 1;
}

.leftbar *{
	margin: 10px;
	color: white;
	font-size: xx-large;
	text-indent: 10px;
	text-decoration: none;
	font-size:1.5vw ;
}

.leftbar a:not(.active):hover{
	background-color: grey;
	color:black;
	text-decoration: underline;
	box-shadow: 2px 2px black;
}

.leftbar a.active {
	color: black;
	background-color: white;
	box-shadow: 2px 2px gray;
}

.content {
	overflow: visible;
	position: absolute;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: unset;
	justify-content: flex-start;

	right: 0px;
	top: var(--topbarHeight);
	width: calc(80% - 40px); /* 80% do espaço - 40px (relativo aos 20px de margem de cada lado) */
	margin: 20px;
	background-color: #FFFFFF;
	z-index: 1;	
}

.content *{
	position: relative;
	color: #0B2239;
}

.content p {
	text-indent: 1vw;
	text-align: justify;
}

.dropdown {
	display:inline-flex;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-height: 100%;
	z-index: 3;
	transform: translate(0%, -100%);
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown-content img {
	position: relative;
	border: 2px solid black;
	background-color: white;
	filter: drop-shadow(0px 0px 0.75rem black);
	min-height: 100%;
}

